import { render } from "@testing-library/react";
import TemplateComponentName from "../../TemplateComponentName";

const componentSetup = () => {
  render(<TemplateComponentName />);
};

export default componentSetup;
