import * as S from './TemplateComponentName.style';

const TemplateComponentName = () => {
  return <S.Container data-testid="your-test-id">TemplateComponentName</S.Container>;
};

export default TemplateComponentName;
