import TemplateComponentName from './TemplateComponentName';

export default {
  title: 'TemplateComponentName',
};

export const TemplateComponentNameStory = () => {
  return <TemplateComponentName />;
};
