import React from "react";
import * as S from './TemplateComponentName.style.ts";

const TemplateComponentName = () => {
  return <S.Container>TemplateComponentName</S.Container>;
};

export default TemplateComponentName;
